@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0px;
  text-align: center;
  background-color: #000;
}

body {
  margin: 0px !important;
}

p {
  font-size: $paragraph-font-size;
}